body,
html {
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

.box {
  height: 100%; }
  .box .row {
    position: relative;
    height: 100%; }
    .box .row .leftNav {
      position: fixed;
      left: 0;
      top: 0;
      float: left;
      height: 100%;
      width: 180px;
      background-color: #2F4050; }
      .box .row .leftNav .top {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: 160px;
        width: 100%;
        padding-top: 8px;
        background-color: #243443;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #3781B6; }
        .box .row .leftNav .top .icon {
          position: relative;
          height: 80px;
          width: 80px;
          border-radius: 50%;
          background-color: #66717C;
          margin-bottom: 10px;
          overflow: hidden; }
          .box .row .leftNav .top .icon img {
            position: absolute;
            height: 100%; }
        .box .row .leftNav .top .name {
          font-size: 17px;
          color: #A9B0C2; }
      .box .row .leftNav .bot .glyphicon {
        margin-right: 15px; }
      .box .row .leftNav .bot ul {
        padding: 20px 0; }
        .box .row .leftNav .bot ul li {
          margin: 4px 0; }
          .box .row .leftNav .bot ul li#ClassManageList ul {
            padding: 0; }
            .box .row .leftNav .bot ul li#ClassManageList ul a {
              padding: 10px 45px; }
        .box .row .leftNav .bot ul.nav-pills > li.active > a {
          background-color: #243443; }
        .box .row .leftNav .bot ul.nav-pills > li > a {
          border-radius: 0;
          text-align: left;
          color: #A9B0C2; }
          .box .row .leftNav .bot ul.nav-pills > li > a:hover {
            background-color: #243443;
            color: white; }
          .box .row .leftNav .bot ul.nav-pills > li > a:focus {
            background-color: #243443;
            color: white; }
    .box .row .rightContent {
      position: absolute;
      left: 180px;
      right: 0;
      height: auto;
      min-height: 100%;
      padding: 0 15px;
      background-color: #f3f3f3; }
      .box .row .rightContent .right_topNav .navbar.navbar-default {
        padding-right: 15px;
        border-radius: 0; }
        .box .row .rightContent .right_topNav .navbar.navbar-default .navbar-header {
          height: 57px; }
          .box .row .rightContent .right_topNav .navbar.navbar-default .navbar-header .navBtn {
            width: 27px;
            height: 27px;
            margin-left: 15px;
            margin-top: 12px;
            background-color: #5cb85c;
            border-radius: 2px; }
            .box .row .rightContent .right_topNav .navbar.navbar-default .navbar-header .navBtn.glyphicon-menu-hamburger:before {
              position: absolute;
              line-height: 27px;
              color: white;
              font-size: 18px;
              left: 5px; }
        .box .row .rightContent .right_topNav .navbar.navbar-default .nav.navbar-nav.navbar-right li {
          margin-top: 4.5px; }
          .box .row .rightContent .right_topNav .navbar.navbar-default .nav.navbar-nav.navbar-right li a {
            color: #337AB7; }
            .box .row .rightContent .right_topNav .navbar.navbar-default .nav.navbar-nav.navbar-right li a:hover {
              color: #23527C; }
      .box .row .rightContent .showPart .panel-Body .btnAdd {
        margin-bottom: 15px; }
      .box .row .rightContent .showPart table td {
        padding: 15px;
        vertical-align: middle; }
        .box .row .rightContent .showPart table td form .form-group {
          margin-left: 0; }
      .box .row .rightContent .showPart .classCreateBox .col-xs-7 {
        padding-right: 25px; }
        .box .row .rightContent .showPart .classCreateBox .col-xs-7 .btn {
          margin-top: 15px; }
      .box .row .rightContent .showPart .classCreateBox .col-xs-3 {
        padding: 0 20px;
        border-left: 1px solid #ccc; }
      .box .row .rightContent .showPart .classTimeBox {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .box .row .rightContent .showPart .classTimeBox .page-header {
          overflow: hidden; }
          .box .row .rightContent .showPart .classTimeBox .page-header .btn {
            margin-top: 25px;
            margin-right: 5px; }
      .box .row .rightContent .showPart .classInfoBox {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .box .row .rightContent .showPart .classPicBox {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .box .row .rightContent .showPart .teacherListBox .btn-group-justified {
        width: auto; }
      .box .row .rightContent .showPart .teacherListBox .panel-body input[type=search] {
        outline: none;
        border: 0;
        background-color: rgba(204, 204, 204, 0.23);
        height: 35px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: 15px; }
      .box .row .rightContent .showPart .teacherListBox .panel-body input[type=button] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }

.modal-backdrop {
  z-index: 999; }

.modal {
  z-index: 1000; }
