<div class="teacherListBox panel panel-default">
    <div class="panel-heading">教师列表</div>
    <div class="panel-body">
        <input type="search" name="" placeholder="请输入教师编号"><input type="button" value="搜索" class="btn btn-info" >
        <input  value="添加讲师" class="btn btn-primary col-sm-2 pull-right btnAdd">
    </div>

    <table class="table">
        <thead>
            <th class="text-center">编号</th>
            <th class="text-center">姓名</th>
            <th class="text-center">昵称</th>
            <th class="text-center">出生日期</th>
            <th class="text-center">性别</th>
            <th class="text-center">操作</th>
        </thead>
        <tbody class="text-center">
            {{each x}}
            <tr>
                <td>{{$value.tc_id}}</td>
                <td>{{$value.tc_name}}</td>
                <td>{{$value.tc_roster}}</td>
                <td>{{$value.tc_birthday}}</td>
                {{if $value.tc_gender == 1}}
                <td>男</td>
                {{else}}
                <td>女</td>
                {{/if}}
                <td>
                    <div class="btn-group btn-group-justified" role="group" aria-label="..." width="auto">
                        <div class="btn-group" role="group">
                            <button data-id = "{{$value.tc_id}}" type="button" class="btn btn-primary btnCheck">查看</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button data-id = "{{$value.tc_id}}" type="button" class="btn btn-info btnEdit">编辑</button>
                        </div>
                        <div class="btn-group" role="group">
                            {{if $value.tc_status == 1}}
                            <button data-id = "{{$value.tc_id}}" type="button" class="btn btn-success btnOut" data-status="1">启用</button>
                            {{else}}
                             <button data-id = "{{$value.tc_id}}" type="button" class="btn btn-danger btnOut" data-status="0">注销</button>
                            {{/if}}
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>